<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Filmes</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Lista de Filmes</strong>
			<a class="btn btn-sm btn-success" th:href="@{/add/}" >Adicionar</a>
		</div>
		
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>Capa</th>
							<th>Titulo</th>
							<th>Descricao</th>
							<th>IMDB</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="filme : ${filmes}">
							<td>
								<img th:src="${filme.foto}" style="width:150px;" />
							</td>
							<td th:text="${filme.titulo}" style="font-weight:bold;"></td>
							<td th:text="${filme.descricao}"></td>
							<td th:text="${filme.imdb}"></td>
							<td>
								<div class="btn-group pull-right">
							   		<a class="btn btn-sm btn-primary" th:href="@{/edit/{id}(id=${filme.id})}" >Editar</a>
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${filme.id})}">Excluir</a>
							   </div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
<!-- 			<a class="btn btn-sm btn-success" th:href="@{/add/}" >Adicionar</a> -->
		</div>
	</div>
</body>
</html>